
/* ============================
   Global Styles and Resets
   ============================ */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ============================
   Root Variables (Color Palette)
   ============================ */
:root {
    --color-muted-olive: #77997b;
    --color-light-green: #b8bfae;
    --color-light-olive: #d7d9d2;
    --color-light-gray: #f2f2f2;
}

/* ============================
   Typography
   ============================ */
body {
    font-family: "Lato", serif;
}

h1, h2, h3 {
    font-family: "Philosopher", serif;
    color:  var(--color-muted-olive);
}

h1 {
    text-align: center;
}

/* Links */
a {
    text-decoration: none;
    color: var(--color-muted-olive);
    transition: color 0.3s ease-in-out;
}

a:hover, a:active {
    color: var(--color-light-gray);
    background-color: var(--color-light-green);
}

/* ============================
   Header & Navigation
   ============================ */
header, footer {
    width: 100%;
    margin: 0 auto;  
}

header, .footer-navigation {
    padding: 20px;
    display: grid;
    align-items: center;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav a {
    display: none; /* Hidden by default for mobile */
    padding: 10px;
    text-align: center;
    position: relative;
    transition: background-color 0.25s ease, color 0.25s ease;
    font-weight: 600;
}


/* Mobile Menu Button */
#menu {
    position: absolute;
    top: 5px;
    right: 20px;
    background: none;
    color: var(--color-muted-olive);
    border: 0;
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
}

/* Hamburger & Close Menu Icons */
#menu::before {
    content: "≡"; /* Hamburger icon */
}

#menu.show::before {
    content: "✕"; /* Close icon */
}

/* Show Navigation Links when Menu is Active */
.show a {
    display: block;
}

/* ============================
   Footer Styling
   ============================ */
footer {
    height: auto;
    background: var(--color-light-green);

}

.footer-navigation {
    border-bottom: 1px solid var(--color-muted-olive);
    padding: 20px 20px 0 20px;
}

.sociallinks {
    text-align: center;
    padding: 20px;
}

/* Social Media Icons */
.sociallinks img {
    width: 34px;
    height: auto;
}

/* Footer Text */
footer p {
    color: var(--color-muted-olive);
    padding: 0 20px 20px 20px;
    text-align: center;
}

/* ============================
   Responsive Design (Tablets & Larger Screens)
   ============================ */
@media screen and (min-width: 500px) {
    #menu {
        display: none;
    }

    /* Adjust Header & Footer Layout */
    header, .footer-navigation {
        padding: 20px;
        align-items: center;
        display: flex;
        justify-content: space-around;
    }

    /* Navigation Links Displayed Inline */
    nav ul {
        flex-direction: row;
    }

    nav a {
        display: block;
        flex: 1 1 100%;
    }
}
