:root {
    --color-blue: #003366;
    --color-white: #f0f8ff;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Rubik", sans-serif;
}

main {
    background: linear-gradient(to right, rgb(14, 125, 194, .3) 0, rgb(0, 184, 162, .3) 100%);
    padding-bottom: 40px;
}

header {
    display: grid;
    margin: 0 auto;
    padding: 10px 20px; 
}

h1 {
    font-family: "Spectral", serif;
    color: var(--color-blue);
}

a {
    text-decoration: none;
    color: var(--color-blue);
}

button {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-blue);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
}

ul.navigation li a {
    display: block;
    padding: .75rem 2vw;
    text-align: center;
    position: relative;
    transition: all .25s ease;
}

ul.navigation {
    list-style-type: none;
}


#light-dark, #menu {
    display: block;
    font-size: 2rem;
    padding: 0.25rem 2vw;
    position: absolute;
    top: 0;
} 

#menu {
    right: 0;
}

#menu::before {
    content: "≡";
}

#menu.show::before {
    content: "X";
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
} 

nav.show {
    grid-template-rows: 1fr;
}

#light-dark {
    right: 30px;
}

#light-dark::before {
    content: "◐";
}

nav a:hover {
    background-color: var(--color-blue);
    color: aliceblue;
}

.active {
    font-weight: 600;
    text-decoration: underline 2px;
    text-underline-offset: 5px;
    transition: all .2s ease;
}

main h1 {
    padding: 20px 20px 0;
}

.view {
    padding: 10px;
    text-align: center;
}

.view button {
    padding: 5px;
    border: 1px solid var(--color-white);
}

.grid {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem;
}

.list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
}

.list section { 
    display: flex;
	margin: 0;
	padding: 0.25rem;
}
.divider {
    display: none;
}

.list .member-card .info div{
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
}

.list section > * {
	margin: 0 1rem;
    width: auto;
}

.list section img {
    display: none;
}

.list section:nth-child(odd) {
	background-color: #eee;
}

.grid section {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    padding: 1rem;
}

.member-card p {
    padding: 5px 0;
    font-size: small;
}

.member-card a {
    text-decoration: underline;
}

.grid section .member-name {
    display: none;
}


#interests div {
    margin: 1rem 8px;
    border: 1px solid #999;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
    "name"
    "photo"
    "description"
    "address"
    "button";
}

#interests div h2 {
    margin: 1rem 10px;
    grid-area: name;
}

#interests div img {
    width: 100%;
    height: auto;
    grid-area: photo;
}

#interests div p {
    margin: 1rem 10px;
    grid-area: description;
}

#interests div address {
    margin: 1rem 10px;
    grid-area: address;
}

#interests div button {
    grid-area: button;
}

#messageBox {
    margin: 1rem 8px;
    background: #f8f9fa;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    margin-bottom: 20px;
    transition: opacity 0.5s ease-in-out;
}

#closeBtn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #888;
}

#closeBtn:hover {
    color: #000;
}

footer {
    padding: 10px;
}

footer img {
    width: 40px;
    height: 40px;
}

footer div {
    padding: 20px;
}

footer div a {
    padding: 5px;
}
