
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: small;
}

h1, h2 {
    text-align: center;
    color: #333;
    padding: 10px;
}

main {
    max-width: 1250px;
    margin: auto;
}


#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 5px;
    place-items: center;
}

.prophet-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(236, 230, 230);
    width: 300px;
    height: 400px;
	padding: 10px;
}

img {
    width: 200px;
    height: auto; 
	margin: 1rem 2rem;
	border: 1px solid rgba(0, 0, 0, .3);
	box-shadow: 0 0 10px #333;
	overflow: auto;
}

